# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Model & cache
.cache/
huggingface/
*.ckpt
*.safetensors
*.pt
*.bin

# Streamlit
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db
